<h3 class="v-m">Account</h3>
<div class="row v-lg">
  <div class="col-md-6">
    <div ngf-select="upload($file)" ngf-drop="upload($file)" ng-model="file" name="file"
         ngf-drag-over-class="'drop-box-drag-over'" class="drop-box"
         ngf-pattern="'image/*'"
         ngf-max-size="7MB" ngf-min-height="100"
         ngf-resize="{width: 400, height: 400}">
      Drop files here <br />
      <span class="font-sm">(or click here to select)</span>
    </div>
  </div>
  <div class="col-md-6">
    <img ngf-thumbnail="file">
  </div>
</div>

<form name="form">
  <div class="form-group">
    <label>Name</label>
    <input type="text" ng-model="user.name" class="form-control" />
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" ng-model="user.email" class="form-control" />
  </div>
  <div class="form-group">
    <label>Username</label>
    <input type="text" ng-model="user.username" class="form-control" />
  </div>
  <div class="form-group">
    <label>Address</label>
    <input type="text" ng-model="user.address" class="form-control"
           uib-typeahead="address for address in getAddressHint($viewValue)"
           typeahead-on-select="user.address = $model" />
  </div>
  <button type="submit" ng-click="save( user )" class="btn btn-primary">Save</button>
</form>


<!--
  <button class="btn btn-default" ng-model="file" name="file"
          ngf-select="upload($file)" ngf-multiple="true" 
          ngf-pattern="'image/*'" ngf-accept="'image/*'"
          ngf-max-size="7MB" ngf-min-height="100"
          ngf-resize="{width: 100, height: 100}">
    Select photo (instant upload)
  </button>
-->
