body {
  padding-top: 60px;
  padding-bottom: 20px;
  min-height: 410px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 360px;
}

a[ng-click] {
  cursor: pointer;
}

.v-sm {
  margin-bottom: 10px;
}

.v-m {
  margin-bottom: 15px;
}

.v-lg {
  margin-bottom: 25px;
}
