<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#/" class="navbar-brand"><i class="fa fa-circle-o-notch"></i></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <form class="navbar-form navbar-left" role="search">
            <div class="input-group">
              <input type="text" ng-model="selected" class="form-control"
                     uib-typeahead="post.text for post in getPosts($viewValue)"
                     typeahead-show-hint="true" typeahead-min-length="0" 
                     typeahead-loading="loadingPosts" />

              <!--empty-typeahead ng-focus="onFocus($event)" ng-trim="false" />-->
              <div class="text-center"><i ng-show="loadingPosts" class="glyphicon glyphicon-refresh"></i></div>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default"><i class="fa fa-search text-muted"></i></button>
              </span>
            </div>
          </form>
        </li>
      </ul>
      <ul ng-show="!identity.auth" class="nav navbar-nav navbar-right">
        <li><a href="#/login">Login</a></li>
      </ul>
      <ul ng-show="identity.auth" class="nav navbar-nav navbar-right">
        <li><a href="#/facebook">Facebook</a></li>
        <li><a href="#/posts">{{identity.name}}</a></li>
        <li class="dropdown" uib-dropdown>
          <a uib-dropdown-toggle class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
          <ul uib-dropdown-menu class="dropdown-menu">
            <li>
              <a href="#/manage" class="text-muted">
                {{identity.username}}
              </a>
            </li>
            <li><a href="#/manage">Manage</a></li>
            <li><a href="#/manage/logins">Manage Logins</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/help">API Docs</a></li>
            <li><a ng-click="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>