$primary-color: #222;
$base-font-size: 16pt;
$button-padding:  10px 30px;

@mixin standard-btn(){
    font-size: $base-font-size;
    padding: $button-padding;
}

h1, h2, h3, p{
    font-family: "Roboto", sans-serif;
    color: $primary-color;
}

.primary-btn{
    @include standard-btn();
}

.text-blonde{
  color: yellow;
}
